aggregated_application_logs.log
resource.log
.DS_Store
/target/
/project/
/.idea/
/hadoop-yarn-resourcemanager-iccluster040.log
/hadoop-yarn-resourcemanager3-iccluster040.log
/hadoop-yarn-resourcemanager2-iccluster040.log
Milestone3Parser.scala